/* forn link */
body {
    font-family: 'Merriweather', serif;
}

/* header section styles */
.header {
    background: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 600px;
    margin-left: 100px;


}

.header-backgroumd-content {
    text-align: center;
    padding-top: 100px;

}

.header-text-1 {
    color: rgb(47, 134, 255);
    font-size: 32px;
    font-weight: 400;

}

.header-text-2 {
    color: rgb(47, 134, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Offer section styles */
.offer {
    margin-top: 120px;
}

.offer-content {
    text-align: center;
}

.offer-text-1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.offer-text-2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.ALL-CATEGORIES {
    color: #070211;
    font-size: 48px;
    font-weight: 700;

}

.offer-img {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 120px;
}

/* invitation section styles */
.invitation-text-1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.invitation-text-2 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.invitation-banner {
    background: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 600px;
    margin-left: 100px;
    display: flex;


}

.invitation-content {
    padding-left: 126px;
    padding-top: 50px;
}

.invitation-banner-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 20px;
}

.invitation-banner-img {
    padding-top: 68px;
    padding-left: 40px;
}

/* invitation details section styles */
.invitation-details {
    background-color: rgba(255, 228, 196, 0.39);
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
}

.invitation-details-content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 110px;
}

.invitation-details-content-text {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.invitation-details-content-btn {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    gap: 10px;
    width: 167px;
    height: 56px;
}

/* coming soon section styles */
.border {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    position: absolute;
    top: 3010px;
    left: 560px;
}

.coming-soon {
    display: flex;
    margin-left: 100px;
    margin-top: 120px;
}

.border-img {
    padding-left: 120px;
    padding-right: 168px;
}

.coming-soon-content-1-text-1 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-content-1-text-2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming-soon-content-1-text-3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon-content-3-text-1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.coming-soon-content-3-text-2 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.new-year-img {
    padding-top: 50px;
}

.holidays-content {
    text-align: center;
}

.holidays {
    margin-top: 200px;
}

/* holiday section styles */
.holidays-content-img {
    display: flex;
    padding-top: 69px;
}

.holidays-content-img-2 {
    padding-left: 195px;
}

.holidays-content-img-banner {
    position: absolute;
    top: 4310px;
    z-index: -1;
    margin: 100px;
}

.holidays-content-text-1 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-content-text-2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900px;
    padding-bottom: 24px;

}

.holidays-content-text-3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 24px;
}

/* product section styles */
.product {
    margin-top: 120px;
    margin-left: 100px;
}

.Rectangle-3:hover{
    transform: scale(1.1);
}

.Rectangle-4:hover{
    transform: scale(1.1);
}

.Rectangle-5:hover{
    transform: scale(1.1);
}

.Rectangle-6:hover{
    transform: scale(1.1);
}

.Rectangle-7:hover{
    transform: scale(1.1);
}

.Rectangle-8:hover{
    transform: scale(1.1);
}

.Rectangle-3{
    transition: transform 0.3s
}

.Rectangle-6{
    transition: transform 0.3s
}

.Rectangle-4 {
    padding-left: 10px;
    transition: transform 0.3s
}

.Rectangle-5 {
    padding-left: 10px;
    transition: transform 0.3s
}

.Rectangle-7 {
    padding-left: 10px;
    transition: transform 0.3s
}

.Rectangle-8 {
    padding-left: 10px;
    transition: transform 0.3s
}

.product-content-img-l2 {
    padding-top: 10px;
    transition: transform 0.3s
}

.product-content-img-l1 {
    padding-top: 48px;
    transition: transform 0.3s
}

.product-content-text-1 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.product-content-text-2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.product-content-text-3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
